﻿@using System.Web.Mvc.Html
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript"></script> 
        <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/Site.css")">      
        <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/quotestyle.css")">   
        <link rel="icon" type="image/gif" href="@Url.Content("~/Content/Images/animated_favicon1.gif")" />
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.quovolver.js")"></script>
	    <script type="text/javascript">
	        $(document).ready(function () {
	            $('ul#menu li.unselected').hover(function () {
	                $(this).find('img.littlePaw').css('visibility', 'visible');
	            }, function () {
	                $(this).find('img.littlePaw').css('visibility', 'hidden');
	            });

	            $('blockquote').quovolver(500, 8000);

	        });
        </script>
</head>          
<body>
    <div class="page">
        <div id="topSection">
            <div id="header">            
                <img id="mainLogoImage" src="@Url.Content("~/Content/images/wileymainlogo.jpg")" alt="Logo" />
                <img id="mainBannerImage"src="@Url.Content("~/Content/images/mainHeaderImage.jpg")" alt="Main Image" /> 
            </div>
        </div>       
        <div id="main">            
            <table id="mainSection">
                <tr>
                    <td class="leftColumn">
                    @Html.Partial("mainMenuControl")
                    @Html.Partial("AddThisControl")
                    @Html.Partial("FaceBookLikeControl")    
                    @Html.Partial("QuoteControl")  
                    </td>
                    <td class="rightColumn">
                        @RenderBody()
                    </td>
                </tr>                
            </table>
        </div>
        <div id="footer">
            <div id="bottomMenu">
            @Html.ActionLink("Home","Index") |
            @Html.ActionLink("About Us","aboutus") |
            <a href="http://www.shop.ecopawz.com">Our Products</a> |
            @Html.ActionLink("EcoPawz Green","green") |
            @Html.ActionLink("Handling & Feeding","handling") |            
            @Html.ActionLink("Benefits of Raw","BenefitsOfRaw") |
            @Html.ActionLink("Contact Us","contactus")
        </div>
        <p>
        EcoPawz.com &copy; 2009
        </p>
        </div>
    </div>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-11265337-1");
            pageTracker._trackPageview();
        } catch (err) { }</script>

</body>
</html>
