@using System.Web.Mvc.Html
@using System.Web.UI.WebControls

<ul id="menu">
    <li class="selected">                       
        <img class="littlePaw" src="@Url.Content("~/Content/images/little_pawselected.gif")" alt="little paw"/>
        <span class="menuItemBody"><a href="@Url.Content("~/")">Home</a></span>                                                
    </li>    
    <li class="unselected">
        <img class="littlePaw" src="@Url.Content("~/Content/images/little_paw.gif")" alt="little paw"/>
        <span class="menuItemBody"><a href="@Url.Content("~/aboutus")">About Us</a></span>
    </li>
    <li class="unselected">
         <img class="littlePaw" src="@Url.Content("~/Content/images/little_paw.gif")" alt="little paw"/>
        <span class="menuItemBody"><a href="http://www.shop.ecopawz.com/">Order Now</a></span></li>
        
    <li class="unselected">
         <img class="littlePaw" src="@Url.Content("~/Content/images/little_paw.gif")" alt="little paw"/>
        <span class="menuItemBody"><a href="@Url.Content("~/Green")">EcoPawz Green</a></span></li>
   <li class="unselected">  
        <img class="littlePaw" src="@Url.Content("~/Content/images/little_paw.gif")" alt="little paw"/>
        <span class="menuItemBody"><a href="@Url.Content("~/Handling")">Handling &amp; Feeding</a></span>
    </li>
    <li class="unselected">
        <img class="littlePaw" src="@Url.Content("~/Content/images/little_paw.gif")" alt="little paw"/>
        <span class="menuItemBody"><a href="@Url.Content("~/BenefitsOfRaw")">Benefits of Raw</a></span></li>
    <li class="unselected">
        <img class="littlePaw" src="@Url.Content("~/Content/images/little_paw.gif")" alt="little paw"/>
        <span class="menuItemBody"><a href="@Url.Content("~/faq")">FAQ</a></span></li>            
    <li class="unselected">
       <img class="littlePaw" src="@Url.Content("~/Content/images/little_paw.gif")" alt="little paw"/>
        <span class="menuItemBody"><a href="@Url.Content("~/Links")">The EcoPawz Pack</a></span></li>      
    <li class="unselected">
       <img class="littlePaw" src="@Url.Content("~/Content/images/little_paw.gif")" alt="little paw"/>
        <span class="menuItemBody"><a href="@Url.Content("~/WileysTreats")">Wiley's Treats</a></span></li>   
     <li class="unselected">
       <img class="littlePaw" src="@Url.Content("~/Content/images/little_paw.gif")" alt="little paw"/>
         <span class="menuItemBody"><a href="@Url.Content("~/GrindsandFormulas")">Grinds and Formulas</a></span></li>     
    <li class="unselected">
       <img class="littlePaw" src="@Url.Content("~/Content/images/little_paw.gif")" alt="little paw" style="margin-top:-30px"/>
         <span class="menuItemBody"><a href="@Url.Content("~/DistributorsandRetailers")">Distributors and Retailers</a></span></li>          
    <li class="unselected">
       <img class="littlePaw" src="@Url.Content("~/Content/images/little_paw.gif")" alt="little paw"/>
        <span class="menuItemBody"><a href="@Url.Content("~/ContactUs")">Contact Us</a></span></li>                     
</ul>