/*======= index.html =======*/

#page1 .col-1 {width: 206px; padding: 0 11px 0 0;}
#page1 .col-2 {width: 633px;}

#page1 .col-2 .block-1 {width: 311px; padding: 0 9px 0 0;}
#page1 .col-2 .block-2 {width: 311px;}

/*======= index-1.html =======*/

#page2 .col-1 {width: 206px; padding: 0 11px 0 0;}
#page2 .col-2 {width: 633px;}

#page2 .col-2 .block-1 {width: 311px; padding: 0 9px 0 0;}
#page2 .col-2 .block-2 {width: 311px;}

/*======= index-2.html =======*/

#page3 .col-1 {width: 206px; padding: 0 11px 0 0;}
#page3 .col-2 {width: 633px;}

/*======= index-3.html =======*/

#page4 .col-1 {width: 206px; padding: 0 11px 0 0;}
#page4 .col-2 {width: 633px;}

#page4 .col-2 .block-1 {width: 295px; padding: 0 11px 0 0;}
#page4 .col-2 .block-2 {width: 291px;}

/*======= index-4.html =======*/

#page5 .col-1 {width: 206px; padding: 0 11px 0 0;}
#page5 .col-2 {width: 633px;}

/*======= index-5.html =======*/

#page6 .col-1 {width: 206px; padding: 0 11px 0 0;}
#page6 .col-2 {width: 633px;}

#page6 .col-2 .block-1 {width: 311px; padding: 0 9px 0 0;}
#page6 .col-2 .block-2 {width: 311px;}

/*======= index-6.html =======*/

#page7 .col-1 {width: 206px; padding: 0 11px 0 0;}
#page7 .col-2 {width: 633px;}

#page7 .col-2 .block-1 {width: 311px; padding: 0 9px 0 0;}
#page7 .col-2 .block-2 {width: 311px;}