/* Quovolver Demo Styles */

/*
 |	All required styles for the effect
 |	are labeled with this *required*
*/

#wrapper { width: 210px; margin: 0 auto; }
#description { margin-bottom: 40px; padding-bottom: 10px; }
#description p { margin-bottom: 10px; }
blockquote p { margin-bottom: 10px; font-style: italic; }
blockquote cite { font-style: normal; display: block; text-align: right; text-transform: uppercase; font-size: 10px; font-weight: bold; letter-spacing: 1px; font-family: Arial, Helvetica, sans-serif; }

/*
 |	Setting the width for the blockquotes is required
 |	to accurately adjust it's contianer
*/

blockquote {
	font-family: Georgia, Times, serif;
	width: 200px; /* required */
	margin: 0 auto;
	}
	
/*
 |	The #quote_wrap div is created
 |	by Quovolver to wrap the quotes
*/

#quote_wrap  
{
    background:url(	http://sandbox.sebnitu.com/jquery/quovolver/demo/images/quote-mark.png) no-repeat 0px 0px;
	margin:10px 0; padding: 10px 10px 10px 0; border: 0px solid #edffaf;
}
