﻿body
{
    background:url(../Content/Images/body-tail.gif);
    font-size: .8em;
    font-family:Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link
{
    color: #84c54d;
    text-decoration: underline;
}
a:visited
{
    color: #84c54d;
}
a:hover
{
    color: #84c54d;
    text-decoration: none;
}
a:active
{
    color: #84c54d;
}

p, ul
{
    margin-bottom: 1em;
    line-height: 1.4em;
}
ul.links
{
    list-style-type:none;
    list-style-image:url(images/dot_paw.gif);
    line-height:1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    /*
    color: #000;
    
    font-family: Arial, Helvetica, sans-serif;
	*/
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0;
    margin:2px 0 0 0 ;
	  
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
	color:#000;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
	width:892px;
    padding:0;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
    
}

#header
{
	text-align:right;
	margin:10px 10px 0 10px;	
	height:20px;
    position: relative;
    color: #000;
    padding: 0;
    background-color:transparent;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px !important;
}

#main
{
	position:relative;
	margin:0 0 -1px 0;
	position:relative;
	background-color:#ffffff;
    padding: 5px 20px;
    min-height:660px;
}

#footer
{
	color: #999;
	padding: 30px 24px 15px 30px;
	text-align: center;
	line-height: normal;
	margin: 0;
	font-size: .9em;
	background: transparent url(../Content/Images/bottom_bg.png) no-repeat bottom;
}

/* TAB MENU   
----------------------------------------------------------*/
ul.location li
{
	list-style:none;
  display:inline;
  float:left;
  padding:0 20px;
  
}

ul.location li p
{
	font-size:1.1em;
}
ul.location
{
	padding:0;
	margin:0 0 10px 0;
	height:280px;
}
ul#menu
{
	font-size:1.1em;
	font-weight:bold;
	color:#454545;
    padding: 10px 0 5px;
    position: relative;
    margin: 0 0 10px 0;
    text-align:left;
    border: 1px solid #text;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 214px;
}

ul#menu li
{
	cursor:pointer;
	position:relative;
	clear:both;
	padding:0px 0 0 9px;
    list-style: none;
    vertical-align: middle;
    line-height: 20px;
}
ul#menu li.selected
{
	/*color:#9cd070;*/
	color:#84c54d;
}
ul#menu li img
{
	padding:0;
	margin:0;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 0px 0px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.2em;
    background-color: #fff;
    color: #454545;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    text-decoration: none;
}

ul#menu li.selected a
{
    color:#84c54d;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset label 
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 0px #e8eef4;
  border-collapse: collapse;
}

table td 
{
  padding: 0px;   
  border: solid 0px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    margin-top:40px;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}
div#topSection
{
	padding:20px 0 0 0 ;
	margin:34px 0 0 0px;
	background:transparent url(../Content/images/top_bg.png) no-repeat;	
	height:220px;
	position:relative;
}

div#topSection > div 
{
    position:relative;
    margin:0px 20px 0 20px;    
}

img#mainLogoImage {
    position:absolute;
    top:1px;
    left:0px;
    border: 1px solid #e8eef4;
    padding: 9px;
     -moz-border-radius: 4px;
    border-radius: 4px;

}
img#mainBannerImage {
    position:absolute;
    top:1px;
    left: 221px;
     -moz-border-radius: 4px;
    border-radius: 4px;

}

div.container
{
	color:#696969;
	background:url(../Content/images/tail.jpg) repeat-x 0% 0%;	
}

.container img.frame
{
	padding:2px;
	border:solid 1px #e8eef4;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.field-validation-error
{
    color: #ff0000;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

img#catdog
        {
            position:absolute;
            top:-30px;
            left:200px;
        }
div#mainMenu
{
    position:absolute;
    top:300px;
    left:200px;
    background-color:#bada55;
    border:solid 10px green;
}
                
ul#menu li span.menuItemBody
{
    padding:4px 5px 0 0;
    width:160px;
    display: inline-block;                     
}                         

img.littlePaw
{
    vertical-align:middle;
}
        
ul#menu li img.littlePaw
{
    visibility:hidden;
}
ul#menu li.selected img.littlePaw
{
    visibility:visible;
            
}
td.leftColumn
{
    vertical-align:top;
}
td.rightColumn
{
    margin-bottom:0;
    padding:0 2px 2px 5px;
    vertical-align:top;
}
div#header a
{
    font-weight:bold;
    font-size:1.1em;
        	
    text-decoration:none;
}

/******/
.fleft {
	float: left;
}

img.fleft {
	margin: 4px 27px 0 0;
}

img.fleft1 {
	float: left;
	margin: 4px 27px 25px 0;
}

.fright {
	float: right;
}
.link {
	background: url(images/link-tail.gif) repeat-x 0% 0%;
	display: inline-block;
	height: 26px;
	overflow: hidden;
	float: right;
	text-decoration: none;
	color: #525252;
}

.link span {
	background: url(images/link-left.gif) no-repeat 0% 0%;
	display: inline-block;
}

.link span span {
	background: url(images/link-right.gif) no-repeat 100% 0%;
	display: inline-block;
	height: 26px;
	padding: 0 27px 0 13px;
	line-height: 22px;
}

.link:hover span span {
	cursor: pointer;
	text-decoration: underline;
}

.link-1 {
	margin: 0 0 0 13px;
	line-height: 1.417em;
	font-weight: bold;
	color: #040505;
}

.link-2 {
	background: url(images/link-tail1.gif) repeat-x 0% 0%;
	display: inline-block;
	margin: 3px 0 0 0;
	text-decoration: none;
	color: #525252;
}

.link-2 span {
	background: url(images/link-left1.gif) no-repeat 0% 0%;
	display: inline-block;
}

.link-2 span span {
	background: url(images/link-right1.gif) no-repeat 100% 0%;
	display: inline-block;
	height: 26px;
	padding: 0 12px 0 13px;
	line-height: 22px;
}

.link-2:hover span span {
	cursor: pointer;
	text-decoration: underline;
}

.extra-link {
	float: right;
	margin: -7px 0 0 0;
}

.extra-link1 {
	float: right;
	margin: -18px 0 0 0;
}
.block-1, .block-2, .block-3, .block-4 {
	float: left;
	overflow: hidden;
	color:#696969;	
	height:340px;
}
.block
{
    width: 588px;
	padding:20px 20px 50px 20px;
    margin-bottom: 10px;
	border: 1px solid #e8eef4;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.block-1
{
	width:265px;
    height: 187px;
	padding:20px;
	margin:0 10px 0 0 ;
    border: 1px solid #e8eef4;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.block-2
{
	width:270px;
    height: 187px;
	padding:20px;
	margin:0;
    border: 1px solid #e8eef4;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.wrapper {
	width: 100%;
	overflow: hidden;
	margin:5px 0 0 0;
}

.wrapper-1 {
	width: 100%;
}

.extra-pic {
	float: right;
	margin: 1px -20px 1px 15px;
	position: relative;
}

.extra-pic1 {
	float: right;
	margin: -3px -16px 1px 15px;
	position: relative;
}
.title-2 {
	background: url(../content/images/title-marker.gif) no-repeat 0% 0%;
	min-height: 10px;
	height: auto !important;
	height:10px;
	padding: 2px 0 2px 38px;
}

#contact-form {
	width: 100%;
	padding: 0 0 20px 1px;
	line-height: 1.667em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #524164;
}

#contact-form strong {
	display: block;
	font-weight: normal;
}

#contact-form label {
	background: url(../content/images/contact-input.gif) no-repeat 0% 20px;
	display: block;
	height: 51px;
	overflow: hidden;
}

#contact-form input {
	background: none;
	width: 258px;
	height: 16px;
	padding: 4px 4px 4px 4px;
	border: none;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #524164;
}

#contact-form textarea {
	background: none;
	width: 560px;
	height: 87px;
	padding: 4px;
	border: none;
	float: left;
	overflow: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #524164;
    border: 1px solid #e8eef4;
}

#contact-form a {
	background: url(../content/images/link-tail1.gif) repeat-x 0% 0%;
	display: inline-block;
	float: right;
	margin: 27px 0 0 11px;
	text-decoration: none;
	color: #525252;
}

#contact-form a span {
	background: url(../content/images/link-left1.gif) no-repeat 0% 0%;
	display: inline-block;
}

#contact-form a span span {
	background: url(../content/images/link-right1.gif) no-repeat 100% 0%;
	display: inline-block;
	height: 26px;
	padding: 0 12px 0 13px;
	line-height: 22px;
}

#contact-form a:hover span span {
	cursor: pointer;
	text-decoration: underline;
}