@{
    ViewBag.Title = "EcoPawz::About Us";
}
 <div class="container">
    <div class="title-1">
        <img src="@Url.Content("~/Content/images/1page-title2.gif")" alt="" />
    </div>    
    <h1>About Us</h1>
    <h3>EcoPawz, home of Wiley's Treats and raw food grinds and formulas. </h3> 
    <img src="@Url.Content("~/Content/images/four_dogs.jpg")" class="fleft" alt="" /> 
     <p>EcoPawz is a San Francisco CA based company, founded in 2009, dedicated to producing delectable &amp; environmentally friendly pet products.</p>
     <p>Founded by Greg Mayor, a 25 year veteran of the food industry, EcoPawz focuses on procuring and producing the highest quality pet products from only the best all natural ingredients. </p>
     <div class="clear"></div> 
     <div>
        <img src="@Url.Content("~/Content/images/Wiley_bw border.png")" class="fright" alt="" />              
        <p>Wiley: Wiley, our 3 year old West Highland Terrier, is our mascot and taste tester. While he isn't allowed on our production floor, he does spend time in our offices when not out and about enjoying the many parks and beaches in the San Francisco Bay Area.</p>
     </div>
     <div class="clear"></div> 
</div>