@{
    ViewBag.Title = "EcoPawz::Benefits Of Raw";
   
}
<div class="container">
    <div class="title-1">
        <img src="@Url.Content("~/Content/images/1page-title2.gif") " alt="" />
    </div>
    <h1>Benefits Of Raw Feeding</h1>
<h3>The benefits of feeding a raw diet are pretty straightforward:
A healthier and more lustrous coat
Cleaner teeth and better breath
Smaller stools and odor stemming from an easier and more natural digestion process
Better overall health.</h3> 
<img src="@Url.Content("~/Content/images/doctor.jpg")" class="fleft frame" alt="" /> 

<p>
First, a few of the many benefits of raw feeding, 
then if you're not completely bored by the end of the benefits, read on for a brief history of our beloved companions.
</p><p> 
The benefits of feeding a raw diet are pretty straightforward:
</p>
<ul>
<li style="margin-left:22em">A healthier and more lustrous coat</li>
<li style="margin-left:22em">Cleaner teeth and better breath</li>
<li style="margin-left:22em">Smaller stools and odor stemming from an easier and more natural digestion process</li>
<li style="margin-left:22em">Better overall health</li>
</ul>
<p class="clear">
The further benefits of feeding raw seafood products include:
</p><p>
Omega 3s are naturally occurring amino acids that are necessary for all species in their embryonic development.  
These amino acids account for healthy central nervous system development, greatly increase brain development, 
and are necessary for the development of ocular and many other body systems.  </p><p>
Many species of fish contain high levels of natural omega 3s which aid in:
</p>
<ul>
<li>Better heart health</li>
<li>Better skin and epidermal health</li>
<li>Improved cognitive health including memory and overall mood</li>
</ul>
Many species of fish are also great sources of vitamins, including:
<ul>
<li>Cod and Pollock  Vitamins A, E and B complexes</li>
<li>Herring and sardines  Vitamins A, D, E and Bs</li>
<li>Tuna  Vitamins A, D and Bs</li>
<li>Salmon  Vitamins A, D, E and B complexes</li>
<li>Halibut  Vitamins A and D and a great white fish for animals with special dietary concerns</li>
 </ul>
The basics:  Seafood is really, really good for you AND your pets and we should all eat more of it.
</p>
 
 <h3>A brief history</h3>


              <img src="@Url.Content("~/Content/images/blonde_dog.jpg")" class="fleft" alt="" /> 
<p> 
To fully understand why including raw food into your animals diet, it is important to look at the history.  
Dogs, all dogs, are direct descendants from wolves.  The relationship between wolves and humans is symbiotic, 
meaning that everyone benefited from hanging out together.  Initially, hunter societies harnessed the speed and ferocity of the wolves to take down prey.  
Humans benefited by being able to track larger prey and have the domesticated wolves make the initial attack.  
Wolves benefited by sharing in the kill that came as a direct result of human weapons.  
This relationship started about 12,000 years ago, a blink of the eye by evolutionary standards.  
It is theorized that early humans were able to nurture abandoned wolf cubs into hunting companions because wolves are genetically wired towards a hierarchical (pack) mentality.  
Thus, "man's best friend" was born. </p>
          <img src="@Url.Content("~/Content/images/baby_cat.jpg")" class="fleft frame" alt="" /> 
 <p>
The domesticated cat only goes back approximately 4000 years, but has a similar relationship with humans as the dog 
 symbiotic.  African wild cats were domesticated 
by ancient Egyptians and used in pest control as well as for their mystical properties in the temples.  
Because cats are naturally solitary in the wild, they were much harder to control and breed by ancient humans.  
The relationship between cats and humans tends to be more in favor of the cat.  
They take what they need from us (food, shelter and some play time) and offer up pest control in trade 
 which any cat owner knows is fun for them.  Because cats are closer in the evolutionary timeline to their wild ancestors, 
they revert back to the wild much quicker than dogs.  Similar to dogs, 
their genetic wiring is what drives their wild instincts and snacking on fresh prey in the wild is just their nature.
</p> 
<p>
This genetic wiring is still the driving force in our companions' diets.  
Both cats and dogs are wired as carnivores.  With the timeline on dogs being much further from the wild, 
they have grown omnivorous tendencies, however, will still thrive on diets very high in natural raw proteins.  
If you're already into raw feeding, you have probably heard the debate on what is best for dogs.  
One thing is certain, we dont know of any animal that would chow down on post processed grains, 
chemical preservatives or many of the other things that commercial pet food offers.  
Chances are if we stripped out the flavorings, our pets would run away from the slop that comes out of most bags and cans. 

</p>
              <div class="clear"></div> 
            </div>
             
