@{
    ViewBag.Title = "EcoPawz::Contact Us";    
}	
<div class="container">
    <div class="title-1"><img src="@Url.Content("~/Content/images/1page-title2.gif")" alt="" /></div>
    <h1>Contact Us</h1>
    <div class="wrapper"> 
          <div class="block"> 
           <div class="title-2">
                    <span style="font-weight:bold">Contact Details</span>
                </div>
                <h6>We're looking forward to hearing from you.</h6> 
                <p class="no-indent"> San Francisco, CA.<br /> 
                Phone:<em>(415) 685-3086</em> <br /> 
                E-mail: <a href="mailto:info@ecopawz.com">info@ecopawz.com</a> </p> 
             
              </div> 
    @*<div class="block"> 
                    <div class="title-2">
                    <!--
                    <img src="@Url.Content("~/content/images/7page-title4.gif") " alt="" />
                    -->
                    <span style="font-weight:bold">Email Us</span>
                    </div> 
                                
                    <form action="@Url.Content("~/ContactUs")" id="contact-form" method="post"> 
                    <div> 
                        <label><strong>Name</strong> 
                        <input name="UserName" type="text" value="" /> 
                        </label> 
                        <label><strong>E-mail</strong> 
                        <input name="Email" type="text" value="" /> 
                        </label> 
                        <strong>Message</strong> 
                        <textarea name="MessageText" rows="" cols=""></textarea> 
                        <div class="clear"></div> 
                        <a href="#" onclick="document.getElementById('contact-form').submit()"><span><span>Send</span></span></a> <a href="#" onclick="document.getElementById('contact-form').reset()"><span><span>Reset</span></span></a> </div> 
                    </form> 
                    @if (!string.IsNullOrEmpty(ViewBag.ShowConfirmMessage))
                    { 
                    <span style="color:#84c54d;font-weight:bold">Thanks for your message! <br />We'll in touch shortly.</span>
                    } 
                </div>         
          </div> *@
    
 <div class="clear"></div> 
</div>