﻿@{
    ViewBag.Title = "EcoPawz::Home";
}
<div class="container">                   
  <div class="title-1">               
    <img src="@Url.Content("~/Content/images/1page-title2.gif")" alt="" />               
  </div>
  
  <!--<h1>Welcome to the EcoPawz website.</h1>-->
  <h3>Welcome to EcoPawz, home of Wiley's Treats and other heart healthy grinds and formulas for our favorite fury friends.</h3> 
  <img src="@Url.Content("~/Content/images/Salmon Snaps_home page_1.jpg")" class="fleft frame" alt="" /> 
  <p>EcoPawz is a San Francisco based company dedicated to providing all natural delectable pet food products. We are committed to both pet nutrition and ensuring an environmentally responsible product. With over 25 years of food industry experience, we have developed a network of partnerships and processing methods that enable us to ensure a high quality product for your pet.</p>
  <p>Inspired by our own pet and mascot, Wiley, our products are designed and produced to make your pet jump for joy when they see Wiley's face on the label. </p>              
  <a href="http://www.shop.ecopawz.com" class="link-2"><span><span>Order Now</span></span></a> 
  <div class="clear"></div> 
</div> 
<div class="wrapper"> 
    <div class="block-1"> 
        <div class="title-2">
        <span style="font-weight:bold">Ecopawz Green</span>
        </div> 
        <p>
        <strong>We like the planet!</strong>
        Through local sourcing, we are able to greatly reduce the amount of carbon emissions that it takes to get our products to market. </p>
        <a href="@Url.Content("~/Home/Green")" class="link-2"><span><span>Learn more</span></span></a>                
        <div class="clear"></div>
    </div>  
    <div class="block-2"> 
        <div class="wrapper-1"> 
            <div class="title-2"><span style="font-weight:bold">Buy Today</span></div> 
            <img src="@Url.Content("~/Content/images/1page-img2.jpg")" class="extra-pic" alt="" /> 
            <p><strong>Wiley's Treats</strong>and other EcoPawz products are just a few clicks away.</p> 
            <a href="http://www.shop.ecopawz.com" class="link-2"><span><span>Learn more</span></span></a>
        </div> 
        <div class="clear"></div> 
    </div> 
</div> 