@{
    ViewBag.Title = "EcoPawz::Retail Locations";
}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAvgxpAy8Sf19a4Hd_B9WHTBS2I-mW3YDG4n9Om7w3907V669hTRR8ALRWV3FIyGl4I_rkFgE7qoQ3lA" type="text/javascript"></script>

<div class="container">
                   
                  <div class="title-1">
                   
                    <img src="@Url.Content("~/Content/images/1page-title2.gif")" alt="" />
                   
                  </div>
    <h1>Retail Locations</h1>
    <h3>Please ask for us in your local store.</h3>
<br />
<ul class="location">
    <li>
        <div id="map_canvas_1" style="width: 250px; height: 250px"></div>
    </li>
    <li>
        <p>
        Pawtrero Bathhouse and Feed Co.<br />
        199 Mississippi St.<br />
        San Francisco CA. 94107
        </p>
        <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=199+Mississippi+St.+San+Francisco+CA.+94107&ie=UTF8&t=h&z=16" target="_blank">View Larger Map</a>
    </li>
</ul>

<ul class="location">
    <li>
        <div id="map_canvas_2" style="width: 250px; height: 250px"></div>
     </li>
    <li>
        <p>
        South Paw Bathhouse and Feed Co.<br />
        199 Brannan St.<br />
        San Francisco CA. 94107
        </p>
        <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=199+Brannan+St.+San+Francisco+CA.+94107&ie=UTF8&t=h&z=16" target="_blank">View Larger Map</a>
    </li>
</ul>
<ul class="location">
    <li>
        <div id="map_canvas_3" style="width: 250px; height: 250px"></div>
    </li>
    <li>
        <p>
        Puppy Haven<br />
        772 Stanyan St.<br />
        San Francisco CA. 94117
        </p>
        <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=772+Stanyan+St.+San+Francisco+CA.+94117&ie=UTF8&t=h&z=16" target="_blank">View Larger Map</a>
    </li>
</ul>
<ul class="location">
    <li>
        <div id="map_canvas_4" style="width: 250px; height: 250px"></div>
        <a href="#">View Larger Map</a>
    </li>
    <li>
        <p>
        Bernal Beast<br />
        509 Cortland Ave.<br />
        San Francisco CA. 94110
        </p>
        <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=509+Cortland+Ave.+San+Francisco+CA.+94110&ie=UTF8&t=h&z=16" target="_blank">View Larger Map</a>
    </li>
</ul>
<ul class="location">
<li>
    <div id="map_canvas_5" style="width: 250px; height: 250px"></div>
    </li>    
<li>
    <p>
        Critter Fritters Pet Food &amp; Supplies<br />
        670 Chenery St.<br />
        San Francisco CA. 94131
    </p>
    <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=670+Chenery+St.+San+Francisco+CA.+94131&ie=UTF8&t=h&z=16" target="_blank">View Larger Map</a>
   
</li>
</ul>
<ul class="location">
<li>
    <div id="map_canvas_6" style="width: 250px; height: 250px"></div>
</li>
<li>
    <p>
    Cole Valley Pets<br />
    910 Cole St.<br />
    San Francisco CA. 94117
    </p>
    <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=910+Cole+St.+San+Francisco+CA.+94117&ie=UTF8&t=h&z=16" target="_blank">View Larger Map</a>
</li>
</ul>
<ul class="location">
    <li>
        <div id="map_canvas_7" style="width: 250px; height: 250px"></div>
    </li>
    <li>
        <p>
        Animal House <br />
        157 Fillmore St.<br />
        San Francisco CA. 94117
        </p>
        <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=157+Fillmore+St.+San+Francisco+CA.+94117&ie=UTF8&t=h&z=16" target="_blank">View Larger Map</a>
    </li>
</ul>
<ul class="location">
<li>
<div id="map_canvas_8" style="width: 250px; height: 250px"></div>
</li>
<li>

<p>
Sunset Pet Supply<br />
2226 Taraval St.<br />
San Francisco CA. 94116
</p>
<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=2226+Taraval+St.+San+Francisco+CA.+94116&ie=UTF8&t=h&z=16" target="_blank">View Larger Map</a>
</li>
</ul>
<div class="clear"></div>
</div>

<script type="text/javascript">

    function initialize(id, lat, log) {

        if (GBrowserIsCompatible()) {
            var map = new GMap2(document.getElementById(id));

            map.setCenter(new GLatLng(lat,log), 13);
            map.setUIToDefault();
            
            //Store 1.
            var point = new GLatLng(lat, log); //new GLatLng(37.764146, -122.394503);
            map.addOverlay(new GMarker(point));
        }


    }

    initialize('map_canvas_1', 37.764146, -122.39450);

    initialize('map_canvas_2', 37.783609, -122.38981);

    initialize('map_canvas_3', 37.767783, -122.45288);
    initialize('map_canvas_4', 37.739239, -122.41635);

    initialize('map_canvas_5', 37.734688, -122.43350);

    initialize('map_canvas_6', 37.765635, -122.44990);

    initialize('map_canvas_7', 37.771021, -122.43045);
    initialize('map_canvas_8', 37.742660, -122.49018);

    </script>
