@{
    ViewBag.Title = "EcoPawz::Wiley's Treats";
}
<div class="container">
    <div class="title-1">
        <img src="@Url.Content("~/Content/images/1page-title2.gif")" alt="" />
    </div>
    <h1>Wiley's Treats</h1>
    <h3>Wiley's Treats are made from all natural products, dehydrated and packed with care in our San Francisco facility. Pets all over the Bay Area, and now across the nation, are loving these treats.</h3> 

    <img src="@Url.Content("~/Content/images/Salmon Snaps_Treat Page.jpg")" class="fleft frame" alt="" /> 

<p>
<h3>Wiley's Slammin' Salmon Snaps</h3>
</p><p> 
Wiley's Snaps are an artisan made dehydrated wild salmon. They are lightly processed in San Francisco, CA and contain no preservatives or additives of any kind. The treats come in a resealable bag, snap easily to control portion size, and break evenly with minimal crumbs keeping your pet focused on you rather than the floor. They are a high value treat, great for training or normal treating.
</p>
<p> Wiley's Slammin' Salmon comes in a convenient 4 ounce resealable bag with a natural desiccant to control moisture.  Wiley's Snaps have a tested shelf life of 1 year. We believe we could get more shelf life if we could just keep Wiley away from the samples. </p>

<img src="@Url.Content("~/Content/images/Wileys_HeartyBites_Treat Page.jpg")" class="fleft frame" alt="" /> 
<p>
<h3>Wiley's Chicken Snaps</h3>
</p><p> 
Wiley's Chicken Snaps follow Wiley's Slammin' Salmon Snaps in our all natural treat line. We source our raw materials from local Northern California farms that practice humane and sustainable agriculture. Our chickens are raised on a vegetarian diet, hormone and antibiotic free. We lightly process and dehydrate these healthy chicken hearts and gizzards to create Wiley's Chicken Snaps.
</p>
<p> Wiley's Chicken Snaps come in a convenient 4 ounce resealable bag including a natural desiccant to control moisture.</p>
<p>
<h3>Wiley's Chicken Bark</h3>
</p>
<p>The newest addition to Wiley's treats is Wiley's Chicken Bark. Chicken Bark comes from Northern Californian chickens, raised on a vegetarian diet, hormone and antibiotic free. We lightly process and dehydrate these healthy chicken hearts and gizzards to create Chicken Bark.</p>
<p>Wiley's Chicken Bark comes in a convenient 4 ounce resealable bag including a natural desiccant to control moisture.
</p>
<p>
<h4>The Legend of Wiley's Chicken Bark<h4>
</p>
<p> 
Our feisty Westie Wiley loved long walks in the woods and would go hiking to far away places almost every day. His jaunts would take him through hills and valleys, past mountains and streams, and always bring wonderful adventures.
</p>
<p> One day Wiley was walking through a seemingly magical valley in Northern California filled with redwoods, ferns, and a friendly flock of chickens. Wiley played with the chickens all morning long. In the afternoon when the flock returned to their pastures Wiley found an egg that they left behind. Wiley buried the the egg to keep it warm and safe overnight until he could find the chickens the next morning. </p>
<p>When Wiley returned the following day to his surprise, the egg had sprouted a small poul-tree. The poul-tree grew strong and within a week it was providing shade for Wiley and his new chicken friends. One day when Wiley was walking early in the valley he came upon the poul-tree, which appeared to be asleep. Wiley barked, as he often does, and when the tree awoke it gave itself a wake up shake, and off came some of it's loose bark. All the creatures in the valley came running up to snack on the fallen bark. Wiley tried it and it was delicious. The poul-tree produced the bark every morning for all the creatures in the valley. </p>
<p>
<h3>Wiley's Turkey Bark</h3>
</p>
<p>Wiley's Turkey Bark recently joined the Wiley's treat line. Turkey Bark comes from Northern Californian turkey's raised on a vegetarian diet, hormone and antibiotic free. We lightly process and dehydrate these healthy turkey gizzards to create Turkey Bark.</p>
<p>Wiley's Turkey Bark comes in a convenient 4 ounce resealable bag including a natural desiccant to control moisture.
</p>
<h4>The legend of Wiley's Chicken Bark and how the Turkey's made their own<h4>
</p><p> 
Our feisty Westie Wiley loved long walks in the woods and would go hiking to far away places almost every day. His jaunts would take him through hills and valleys, past mountains and streams, and always bring wonderful adventures.
</p>
<p> One day Wiley was walking through a seemingly magical valley in Northern California filled with redwoods, ferns, and a friendly flock of chickens. Wiley played with the chickens all morning long. In the afternoon when the flock returned to their pastures Wiley found an egg that they left behind. Wiley buried the the egg to keep it warm and safe overnight until he could find the chickens the next morning. </p>
<p>When Wiley returned the following day to his surprise, the egg had sprouted a small poul-tree. The poul-tree grew strong and within a week it was providing shade for Wiley and his new chicken friends. One day when Wiley was walking early in the valley he came upon the poul-tree, which appeared to be asleep. Wiley barked, as he often does, and when the tree awoke it gave itself a wake up shake, and off came some of it's loose bark. All the creatures in the valley came running up to snack on the fallen bark. Wiley tried it and it was delicious. The poul-tree produced the bark every morning for all the creatures in the valley. </p>
<p>Upon seeing those happy chickens with their Chicken Bark and their poul-tree, the nearby turkeys decided they could make their own poul-tree.  And thus was born, Wiley's Turkey Bark!  There is a rumor in the valley that the ducks are planning their own bark source, we shall see. </p>



              <div class="clear"></div> 
            </div>
             